<div class="medium-4 large-2 columns book">
  <div class="box">
  <a href="<%=book_path(book)%>">
    <div class="dashed">
      <h4><%= book.title %></h4>
      <span>
      </span>
      <span>does this become a link?</span>
      <br>
    </div>
  </a>
</div>
</div>
