<div class="medium-4 large-2 columns book">
  <div class="dashed">
    <h4><%= book.title %></h4>
    <%= link_to 'View', book_path(book), class: 'book-button button radius medium' %><br>
  </div>
</div>
