/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

.top-bar {
  margin-bottom: 30px;
}

.name {
  display: inline;
}

.book {
  height: 240px;
  padding: 0;
  text-align: center;
  h4 {
    margin-top: 2em;
  }
}

.dashed {
  border: 2px dashed #808080;
  height: 93%;
  width: 93%;
}

.book-button {
  font-size: 1em;
}

.form {
  margin-left: 10%;
  margin-right: 20%;
}

#search-bar {
  margin-right: 30px;
}
